:root {
    --primary-color: #416D19;
    --secondary-color: #9BCF53;
    --tertiary-color: #BFEA7C;
    --dark-color: #114232;
    --fourte-color: #87A922;
    --fith-color: #e2f3ea;
    --color: #BACD92;
}

a {
    text-decoration: none;
    color: #000;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Monsterrat", sans-serif;
}

body {
    background-color: #fdfcfc;
}

/* Container-sidebar */
.container-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 40px;
    justify-content: start;
    z-index: 10;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo p {
    font-weight: bold;
    font-size: 1.2rem;
}
.logo img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.cs-create-new-task {
    margin: 25px 0 20px 0;
    width: 160px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--fith-color);
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
}

.cs-create-new-task button {
    background-color: transparent;
}

.cs-create-new-task i {
    font-size: 1.4rem;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    box-shadow: 10px 7px 10px 0 rgba(0, 0, 0, 0.1);
}

.container-sidebar a{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 90%;
    padding: 15px 10px;
}

.container-sidebar a i {
    font-size: 1.4rem;
    width: 40px;
}

.container-sidebar a p {
    font-size: 1rem;
}

.container-sidebar a:hover {
    color: var(--primary-color);
    border-radius: 10px;
    background-color: #e3f4cb;
}

.container-sidebar a::before{
    position: absolute;
    content: "";
    width: 3px;
    height: 45px;
    right: 0;
    border-radius: 20px;
}

.container-sidebar a:hover::before {
    background-color: var(--primary-color);
}

.cs-create-new-task button:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.5s ease;
}

/* Container-sidebar-dashboard */
.container-sidebar-dashboard {
    height: 100%;
    position: fixed;
    right: 0;
    width: 300px;
    background-color: #fff;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}



.my-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.complete-profile span{
    color: var(--fourte-color);
    font-weight: bold;

}
.title-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.image-profile {
    position: relative;
    margin-top: 40px;
    flex-direction: column;
    width: 100%;
    height: 155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.image-profile #avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.image-profile #frame {
    position: absolute;
    width: 247px;
    height: 107px;
    object-fit: contain;
    top: -8px;
    left: 0;
}

.image-profile h3 {
    margin-top: 10px;
}
.proceed-information-content {
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background-color: whitesmoke;
}

.proceed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proceed i {
    margin-right: 15px;
}

.pic-product i {
    color: #87A922;
}

.pic-customer i {
    color: #9BCF53;
}

.pic-order i{
    color: #aacc61;
}

.pic-revenue i {
    color: #9BCF53;
}

/* Containermain - dashboard */
.container-main-dashboard {
    padding: 20px 40px;
    position: relative;
    left: 250px;
    width: calc(100% - 550px);
    color: black;
    z-index: 10;
}

.title-main {
    display: flex;
    justify-content: space-between;
    align-items: end;
    line-height: 25px;
}

.title-main h4 {
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 10px;

}

.dashboard-image {
    margin-top: 40px;
    width: 100%;
    height: 190px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: var(--tertiary-color);
    padding-left: 450px;
    border-radius: 30px;
}

.dashboard-image h2 {
    margin-bottom: 10px;
}
.dashboard-image img {
    position: absolute;
    width: 150px;
    height: 300px;
    object-fit: contain;
    left: 200px;
}

.dashboard-image span {
    color: var(--primary-color);
    font-weight: bold;
}

.dashboard-image h2 {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid; /* Tạo hiệu ứng con trỏ */
    animation: typing 5s steps(16) forwards infinite; /* Áp dụng animation typing */
}

.dashboard-image h2 span {
    color: var(--dark-color);
}

/* Hiệu ứng con trỏ */
@keyframes typing {
    from {
        width: 0; /* Bắt đầu với width là 0 */
    }
    to {
        width: 180px; /* Kết thúc với width là 100% */
    }
}


/* chart-activity-progress */
.chart-activity-progress {
    margin-top: 50px;
    position: relative;
    display: grid;
    width: 100%;
    height: 290px;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 20px;
}

.chart-activity-progress .chart {
    background-color: #fff;
    position: relative;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}


.chart-activity-progress .chart-progress {
    padding: 0;
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    
}
.chart-progress .cp-child:first-child {
    text-align: center;
    line-height: 50px;
    padding: 10px;
    position: relative;
    width: 100%;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.08);
    width: 100%;
    border-radius: 20px;
}

.chart-progress .cp-child:nth-child(2) {
    position: relative;
    width: 100%;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.08);
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    border-radius: 20px;
    grid-row-gap: 15px;
}


.cp-child .cp-child-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: relative;
    width: 100%;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.cp-child-1-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cp-child-1-info img {
    background-color: #1679AB;
    width: 20px;
    height: 20px;
    object-fit: contain;
    background-image: var(--primary-color);
}

/* tracking-details */
.tracking-details {
    margin-top: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tracking {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.tracking p,
.most-tracking p {
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: normal;
    color: #6d6d6d;
}

.tracking-barchart {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 7px 10px 0 rgba(0, 0, 0, 0.1);
}

.tracking-barchart span {
    font-weight: normal;
    font-size: 0.8rem;
    color: #6d6d6d;
}

.most-tracking {
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: start;
}

.most-tracking-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border-radius: 20px;
}

.most-tracking-content-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: var(--tertiary-color);
    border-radius: 20px;
    padding: 10px;
}

.most-tracking-content-child-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 10px;
}

.most-tracking-content-child-details p {
    margin: 3px 0 0 0;
}

/* Container-main-product */
.container-main-product {
    padding: 20px 40px;
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    color: black;
    z-index: 10;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ph-search {
    position: relative;
    background-color: #fff;
    width: 300px;
    height: 40px;
    border-radius: 20px;
}

.ph-search input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 20px;
    padding:0 10px 0 40px;
}

.ph-search i {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 1.2rem;
}

.ph-createOrder {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.ph-createOrder button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 15px;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}

.ph-createOrder button i {
    margin-right: 10px;
    cursor: pointer;
}


.list-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classify-product {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.classify-product h3 {
    font-size: 1.4rem;
    font-weight: bold;

}

.cp-list-classify {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select {
    background-color: #fff;
    border-radius: 20px;
    padding: 0 10px;
    border: 1px solid #000;
}

.cp-sort select {
    width: 90px;
    height: 40px;
}

.cp-collection select {
    margin: 0 10px;
    width: 135px;
    height: 40px;
}

.cp-price select {
    width: 120px;
    height: 40px;
} 

.list-product-created {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr:first-child{
    border: none;
    box-shadow: none;
    text-align: left;
}


table tr th {
    padding: 8px 0 8px 25px;
    background-color: transparent;
}

table tr td{
    padding: 20px 0 20px 25px;
    background-color: #fff;
    
}
.lpc-product {
    display: flex;
    justify-content: start;
    align-items: center;
}

.lpc-product img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    background-color: #fcfdfc;
    margin:0 20px 0 5px;
}

.lpc-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.lpc-category p{
    margin-right: 10px;
    background-color: #eff0ef;
    padding: 10px;
    border-radius: 10px;
}

.lpc-color {
    display: flex;
    justify-content: start;
    align-items: center;
}

.lpc-color p {
    margin-right: 10px;
}

td p {
    text-align: left;
}

td .edit {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
}




/* Container-main-create-product */
.container-main-create-product,
.container-main-order-product {
    padding: 20px 40px;
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    color: black;
    z-index: 10;
}

.back-product {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.back-product i {
    background-color: var(--secondary-color);
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.4rem;
    margin-right: 20px;
}

.form-create-product {
    margin-top: 40px;
    width: 100%;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
}

.form-group-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fg-description, 
.fg-category,
.fg-color,
.fg-image,
.fg-pricing,
.fg-quantity {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.fg-description-details, 
.fg-category-details,
.fg-color-details,
.fg-image-details,
.fg-pricing-details,
.fg-quantity-details {
    width: 80%;
    margin-top: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 7px 7px 10px 0 rgba(0, 0, 0, 0.1);
}

.fg-description-details p, 
.fg-category-details p,
.fg-color-details p,
.fg-pricing-details p,
.fg-quantity-details p{
    margin-bottom: 4px;
}

.fg-description-details input,
.fg-quantity-details input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    border: 1px solid #e7e7e7;
    margin-bottom: 15px;
}

.fg-description-details textarea {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #e7e7e7;
    margin-bottom: 10px;
    resize: none;
}

.fg-description-details input:focus,
textarea:focus, 
.fg-quantity-details input:focus {
    outline: solid 1px var(--primary-color);
}

.fg-category,
.fg-color,
.fg-pricing,
.fg-quantity {
    margin-top: 30px;
}

.fg-category-details select, 
.fg-color-details select {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    border: 1px solid #e7e7e7;
    margin-bottom: 15px;
}

.fg-image-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.fg-image-details input[type="file"] {
    display: none;
}

.fg-image-details label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: #d0f0c8;
    text-align: center;
    border: 2px dashed var(--primary-color);
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.fg-image-details #images-place {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px; 
    max-width: 500px; 
    border-radius: 10px;
}

.fg-image-details img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 10px;
}

.fg-image-details .image-wrapper {
    position: relative;
    display: inline-block;
    margin: 5px;
}

.fg-image-details .image-wrapper button {
    display: none;
    position: absolute;
    top: 30px;
    right:15px;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
}

.fg-pricing-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.fg-pricing-input,
.fg-pricing-discount-input{
    border: 1px solid #e7e7e7;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}

.fg-pricing input {
    background-color: transparent;
    width: 90%;
}

.fg-pricing-details input:focus {
    border: none;
    outline: none;
}

#btn-AddProduct {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 7px 7px 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s ease;
}

#btn-AddProduct:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

/* container-main-order-product */
.header-order-product {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hop-search {
    border-radius: 20px;
    width: 250px;
    background-color: #fff;
    border: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.hop-search input {
    background-color: transparent;
    border: none;
    border-radius: 20px;
}

.hop-search input:focus {
    outline: none;
    border: none;
}

.hop-search i,
.hop-fresh i,
.hop-report i {
    margin-right: 15px;
}

.hop-fresh-report {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hop-fresh,
.hop-report {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #d4ef99;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.list-product-ordered {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-product-ordered table {
    width: 100%;
    border-collapse: collapse;
}

table tr:first-child{
    border: none;
    box-shadow: none;
    text-align: left;
}
    
.lpo-product {
    display: flex;
    justify-content: start;
    align-items: center;
}

.lpo-product img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    background-color: #fcfdfc;
    margin:0 20px 0 5px;
}

.lpo-orderby,
.lpo-amount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.lpc-color {
    display: flex;
    justify-content: start;
    align-items: center;
}

.lpc-color p {
    margin-right: 10px;
}

.action-order {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Show view product details */
.mask-for-view {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 90;
    transition: visibility 0.8s ease;
}
.view-ordered-details {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 550px;
    background-color: #fff;
    padding: 20px 15px 10px 15px;
    border-radius: 15px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.vod-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.vod-header img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    background-color: #fcfdfc;
    border-radius: 10px;
}

.vod-header p {
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    background-color: #9dd38f;
}

.vod-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-top: 10px;
}

.vod-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.vod-details-left,
.vod-details-right {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
}

.vod-describe-shortly {
    margin-top: 15px;
}

.view-ordered-details i {
    position: absolute;
    font-size: 1.6rem;
    top: 5px;
    right: 7px;
    cursor: pointer;
}

/* container-main-coupon */
.container-main-coupon {
    padding: 20px 40px;
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    color: black;
    z-index: 10;
}

.coupon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coupon-header a {
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 10px;
    background-color: #9BCF53;
    padding:12px 10px;
    border-radius: 15px;
    font-weight: bold;
}

.coupon-body {
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
    padding: 20px;
    flex-wrap: wrap;
}

.coupod-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: #ffffff;
    gap: 20px;
    box-shadow: 10px 7px 10px 0 rgba(0, 0, 0, 0.1);
}

.coupod-child img {
    width: 350px;
    height: 205px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.cd-day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
}

.cd-day .cd-active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.coupon-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: start;
    height: 210px;
    width: 100%;
}

.cd-price, 
.cd-shipping, 
.cd-type {
    display: flex;
    justify-content: start;
    align-items: center;
}

.cd-icon-price,
.cd-icon-shipping,
.cd-icon-type,
.cd-active .cd-active-details {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 170px;
}
.coupon-details i {
    width: 20px;
    color: #114232;
}

.coupon-action {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coupon-action .ca-edit {
    width: 70%;
    border: 2px solid #114232;
    color: #114232;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 1rem;
}
.coupon-action .ca-delete {
    width: 20%;
    border: 2px solid #114232;
    color: #114232;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 1rem;
}
/* Adjust button toggle */

.btn-checkbox-toggle{
    background: #114232;
    width: 50px;
    height: 25px;
    border-radius: 100px;
    position: relative;
    cursor: pointer;

}

.btn-checkbox-toggle::before{
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
    top: 2px;
    left: 2px;
}

.cd-active input[type="checkbox"]:checked + .btn-checkbox-toggle{
    background-color: #9BCF53;
}

.cd-active input[type="checkbox"]:checked + .btn-checkbox-toggle::before{
    transform: translateX(132%);
}

.cd-active input[type="checkbox"] {
    display: none;
}

/* container-main-tasklist */
.container-main-tasklist {
    padding: 20px 40px;
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    color: black;
    z-index: 10;
} 
.tasklist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasklist-search {
    position: relative;
    background-color: #fff;
    width: 300px;
    height: 40px;
    border-radius: 20px;
}

.tasklist-search input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 20px;
    padding:0 10px 0 40px;
}

.tasklist-search i {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 1.2rem;
}

.tasklist-header a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #9BCF53;
    padding:12px 10px;
    border-radius: 15px;
    font-weight: bold;
}

.tasklist-activity {
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.ta-todo,
.ta-progress,
.ta-approve,
.ta-done {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    width: 23%;
    background-color: #e3f6c9;
    padding: 20px;
    border-radius: 20px;
}

.ta-todo-child,
.ta-progress-child,
.ta-approve-child,
.ta-done-child {
    width: 100%;
    background: #fff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 10px 7px 10px 0 rgba(0, 0, 0, 0.1);
}

.tasklist-activity .unfi {
    margin-top: 15px;
    background-color: #BBE2EC;
    color: #005165;
    padding: 10px;
    border-radius: 15px;
}

.tasklist-activity .fi {
    background-color: #9BCF53;
    color: #3b6600;
    margin-top: 15px;
    padding: 10px;
    border-radius: 15px;
}
.tasklist-activity .behance {
    background-color: #87a5ff;
    color: #0029a3;
    margin-top: 15px;
    padding: 10px;
    border-radius: 15px;
}

.tasklist-activity .continue {
    background-color: #f4ec87;
    color: #797104;
    margin-top: 15px;
    padding: 10px;
    border-radius: 15px;
}
.tasklist-activity p {
    margin-top: 20px;
}

.ta-todo .h3-todo {
    color: #005165;
}

.ta-progress {
    background-color: #a9bdff;
}

.ta-progress .h3-progress {
    color: #001b74;
}

.ta-approve {
    background-color: #fffab8;
}

.ta-approve .h3-approve {
    color: #847b00;
}


.ta-done {
    background-color: #ffb8c4;
}

.ta-done .h3-done {
    color: #5b000f;
}

/* container-main-customer */ 
.container-main-customer {
    padding: 20px 40px;
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    color: black;
    z-index: 10;

}


.Customer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ch-search {
    position: relative;
    background-color: #fff;
    width: 300px;
    height: 40px;
    border-radius: 20px;
}

.ch-search input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 20px;
    padding:0 10px 0 40px;
}

.ch-search i {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 1.2rem;
}

.list-customer {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lc-customer img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    background-color: #fcfdfc;
    margin:0 20px 0 5px;
    border-radius: 50%;
}

.lc-customer {
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
}

.list-customer .remove {
    background-color: #ebebeb;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.list-customer .remove:hover {
    background-color: #a3e06a;
    
}

.list-customer tr td {
    box-shadow: 10px 7px 10px 0 rgba(0, 0, 0, 0.1);
}

/* container-main-setting */
.container-main-setting {
    padding: 20px 40px;
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    color: black;
    z-index: 10;
}

.setting-search {
    position: relative;
    background-color: #fff;
    width: 300px;
    height: 40px;
    border-radius: 20px;
}

.setting-search input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 20px;
    padding:0 10px 0 40px;
}

.setting-search i {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 1.2rem;
}

.setting-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 30px;
    gap: 20px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}
.sc-function {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.sc-function a {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #fff;
}

.sc-function a:hover {
    border: 2px solid #82d015;
}

.form-change-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background-color: #ffffff;
    padding: 15px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 10px 7px 10px 0 rgba(0, 0, 0, 0.1);
}

.sc-header-form {
    margin-bottom: 10px;
}

.sc-image {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.sc-image img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 50%;
}

.sc-image label, 
.sc-image .btn-remove {
    background-color: #9BCF53;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.sc-image .btn-remove {
    background-color: #ebebeb;
}

.sc-image input[type="file"] {
    display: none;
}

.sc-name, .sc-username, .sc-email {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px;
    border-radius: 15px;
    gap: 10px;
}

.form-change-profile input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    border: 1px solid #e7e7e7;
}

.form-change-profile input:focus {
    border: none;
    outline: none;
}

.btn-submit {
    margin-top: 20px;
}

.btn-submit button {
    background-color: #9BCF53;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 25px;
}

.btn-submit button:first-child {
    background-color: #ebebeb;
    margin-right: 15px;
}