body {
    font-family: "Montserrat", sans-serif;
}
.no-border:focus, .no-border:hover {
    outline: none;
    box-shadow: none;
}

.no-border {
    border: none;
}

.breadcrumb {
    font-size: 1.1em;
}

/* scroll */
.list-products::-webkit-scrollbar {
    width: 7px; 
}

.list-products::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 5px; 
}