.range-slide {
    position: relative;
    margin-top: 30px;
    height: 4px;
    width: 100%;
}
  
.slide {
    position: absolute;
    top: 0;
    height: 1px;
    background: black;
    left: 9px;
    right: 9px;
}
  
.line {
    position: absolute;
    left: 0;
    right: 0;
    top: 20;
    height: 1px;
}

.thumb {
    position: absolute;
    z-index: 2;
    text-align: left;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 50%;
    outline: none;
    top: -7px;
    height: 18px;
    width: 18px;
    margin-left: -9px;
}

.range-slide input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    pointer-events: none;
    z-index: 3;
    height: 1px;
    top: 0;
    width: 100%;
    opacity: 0;
    margin: 0;
}

.range-slide input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    pointer-events: all;
    border-radius: 50%;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.display {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}